<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img  class="img-responsive text-center"  />
			</div>
		</div>
		<br>
		
		<h1>NASA Image Collection Application</h1>
	</div>
	
	
	<div>
		<h2>About</h2>
		
		<body>This is a NASA Image Collection Application! You can browse through exitising image colections or create your own! Create and account and learn more.</body>
	
	
	
	</div>
	
	<br>Created by Ashini Tennakoon
</section>